.weather-app {
	border: 1px solid black;
	max-width: 600px;
	margin: 30px auto;
	border-radius: 10px;
}

.container {
	text-align: center;
}

ul {
	color: #70757a;
	display: inline-block;
	font-size: 12px;
	line-height: 16px;
	padding-left: 10px;
	padding-top: 6px;
	list-style: none;
	text-align: left;
}
#units {
	display: inline-block;
	line-height: 24px;
	padding-left: 6px;
	vertical-align: top;
	font-size: 16px;
	margin-top: 6px;
}

#temperature {
	display: inline-block;
	vertical-align: top;
	font-size: 48px;
}

#city-name {
	display: inline-block;
	vertical-align: top;
	width: 50%;
	text-align: right;
	padding: 10px;
	margin: 6px;
}

h3 {
	font-size: 22px;
	line-height: 26px;
	margin-bottom: 0;
}

.date-time {
	color: #70757a;
	font-size: 16px;
	line-height: 20px;
	margin-top: 0;
	text-align: right;
}

#weather {
	margin-top: 20px;
}

a {
	text-decoration: none;
}
li {
	text-transform: capitalize;
}